<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inter_library_loan.css">
    <title>상호 대차 신청</title>
</head>
<body>
    <!-- 도서 예약 신청 -->
    <div class="main">
        <h1>도서 상호 대차 신청</h1>
        <form action="" method="post">
            <div class="main__info">
                <label for="receive_library_name"><b>수령도서관</b></label>
                <select>
                    <option>선택</option>
                    <option>충남대학교 도서관</option>
                    <option>목원대학교 중앙도서관</option>
                    <option>한남대학교 중앙도서관</option>
                    <option>우송대학교 도서관</option>
                    <option>을지대학교 대전캠퍼스도서관</option>
                </select>
                
                <button type="submit">신청</button>
            </div>
            
            <div class="main__cancel">
                <a href="#" class="cancelbtn">뒤로가기</a>
            </div>
        </form>
    </div>
</body>
</html>