<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="MemberVO" type="com.yh.libraryapp.member.model.vo.MemberVO"/>
		<typeAlias alias="LibraryVO" type="com.yh.libraryapp.library.model.vo.LibraryVO"/>
		<typeAlias alias="BookVO" type="com.yh.libraryapp.book.model.vo.BookVO"/>
		<typeAlias alias="BookDetailVO" type="com.yh.libraryapp.book.model.vo.BookDetailVO"/>
		<typeAlias alias="BookOwnVO" type="com.yh.libraryapp.book.model.vo.BookOwnVO"/>
	</typeAliases>
	
	<typeHandlers>
  		<typeHandler handler="com.yh.libraryapp.config.type_handler.LoanYNTypeHandler"/>
	</typeHandlers>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/ORCLPDB"/>
        <property name="username" value="LIBRARY"/>
        <property name="password" value="LIBRARY"/>
      </dataSource>
    </environment>
  </environments>
	
  <mappers>
    <mapper resource="com/yh/libraryapp/member/model/dao/MemberMapper.xml"/>
    <mapper resource="com/yh/libraryapp/library/model/dao/LibraryMapper.xml"/>
    <mapper resource="com/yh/libraryapp/book/model/dao/BookMapper.xml"/>
  </mappers>
</configuration>
